<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<groups>
<run>
<include name="Product"></include>
</run></groups>
<listeners>
<listener class-name="utilities.ListenerClass"></listener>
</listeners>
  <test thread-count="5" name="Sigin">
    <classes>
    <class name="TestCases.SignInValidation"/>  
    <class name="TestCases.HomePageValidation"/>
    <class name="TestCases.ProductPageValidation"></class>
    </classes>
  </test> <!-- Test -->
  
  
  
  
</suite> <!-- Suite -->
